// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#entire_page {
        margin: 0 auto;
        overflow: auto;
}

#heading1 {
        font-family: 'Barrio', cursive;
        font-size: 30px;
}

#events_box {
        background: #EEE;
        margin-top: 1%;
        width: 90%;
        height: 500px;
}

#h_event_name {
        font-family: 'Playfair Display', serif;
        font-size: 30px;
        border-bottom-style: dotted;
}

#h_event_detail {
        margin-left: 4%;
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
}

#h_job_company {
        font-family: 'Playfair Display', serif;
        font-size: 25px;
}

#h_position {
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
}

#h_job_date {
        font-family: 'Oswald', sans-serif;
        font-size: 17px;
}

#events_box a:hover {
        text-decoration: none;
        color: #000;
}

#applied_job_div a:hover {
        text-decoration: none;
        color: #000;
}

#didnt_get_job_div a:hover {
        text-decoration: none;
        color: #000;
}

#contact_job_div a:hover {
        text-decoration: none;
        color: #000;
}

#interview_job_div a:hover {
        text-decoration: none;
        color: #000;
}

#offer_job_div a:hover {
        text-decoration: none;
        color: #000;
}

#didnt_get_job_div {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-width: 15px;
        border-color: #555;
        width: 90%;
        height: 100px;
        padding-left: 4%;
        padding-top: .5%;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
}

#applied_job_div {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-width: 15px;
        border-color: orange;
        width: 90%;
        height: 100px;
        padding-left: 4%;
        padding-top: .5%;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
}

#contact_job_div {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-width: 15px;
        border-color: yellow;
        width: 90%;
        height: 100px;
        padding-left: 4%;
        padding-top: .5%;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
}

#interview_job_div {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-width: 15px;
        border-color: teal;
        width: 90%;
        height: 100px;
        padding-left: 4%;
        padding-top: .5%;
        margin-bottom: 5%;
        margin-top: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
}

#offer_job_div {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-width: 15px;
        border-color: green;
        width: 90%;
        height: 100px;
        padding-left: 4%;
        padding-top: .5%;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        display: inline-block;
}

#all_jobs {
        margin-top: 20%;
}

#icon_log {
        display: inline-block;
        margin-right: 3%;
        padding-left: 5px;
        color: #aaa;
}

#icon_log a:hover {
        text-decoration: none;
        color: white !important;
}

#icon_log:focus {
        outline: 0;
}

select.select-date {
	  width: 30%;
    margin-right: 10px;
	  float: left;
}
.select-date-wrapper{
	select:first-of-type{
		width: 35%;
  }
	select:nth-of-type(2){
    width: 20%;
  }
	select:last-of-type{
    margin-right: 0;
  }
}


// job show page css
#job_title_box {
        position: relative;
        background: #EEE;
        border-left-style: solid;
        border-top-style: solid;
				border-left-width: 20px;
				border-top-width: 50px;
        border-color: orange;
        width: 90%;
        height: 480px;
        padding-left: 2.3%;
        padding-top: .5%;
        margin-top: 3%;
        margin-bottom: 5%;
        margin-left: 5%;
        margin-right: 4%;
        display: inline-block;
}

#s_job_company {
        font-family: 'Playfair Display', serif;
        font-size: 60px;

}

#s_subtitles {
        padding-top: 3%;
        margin-top: 3%;
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
}

#s_status {
        position: relative;
				background: red;
				left: -40;
				z-index: 1;


}
